@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #1e1037;
    --background: 278 97.75% 98.28%;
    --foreground: 278 5.5% 0.56%;

    --muted: 278 21% 78%;
    --muted-foreground: 278 2.75% 41.4%;

    --popover: 278 46% 91.4%;
    --popover-foreground: 278 5.5% 0.7000000000000001%;

    --card: 278 46% 91.4%;
    --card-foreground: 278 5.5% 0.7000000000000001%;

    --border: 278 21% 78%;
    --input: 278 21% 78%;

    --primary: 265 100% 60%;
    --primary-foreground: 278 1.1% 91.4%;

    --secondary: 278 55% 14%;
    --secondary-foreground: 278 1.1% 91.4%;

    --accent: 278 21% 78%;
    --accent-foreground: 278 4.300000000000001% 11.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 278, 21%, 78%;

    --radius: 0.5rem;
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --plyr-color-main: hsl(var(--primary));
    /* --plyr-video-control-color: hsl(270, 3%, 87%); */
    --plyr-video-control-color: hsl(var(--muted));
    --plyr-menu-background: hsl(var(--card));
    --plyr-menu-back-border-shadow-color: hsl(var(--border));
    --plyr-menu-color: hsl(var(--secondary));
    --plyr-menu-back-border-color: hsl(var(--card));
  }

  .dark {
    --gradient: linear-gradient(to top left, #5433ff, #20bdff, #a5fecb);

    --background: 265 65% 4.8%;
    --foreground: 265 10% 98%;

    --muted: 265 50% 18%;
    --muted-foreground: 265 10% 56%;

    --popover: 265 45% 7.8%;
    --popover-foreground: 265 10% 98%;

    --card: 265 45% 7.8%;
    --card-foreground: 265 10% 98%;

    --border: 265 50% 18%;
    --input: 265 50% 18%;

    --primary: 265 100% 60%;
    --primary-foreground: 265 10% 6%;

    --secondary: 265 50% 18%;
    --secondary-foreground: 265 10% 98%;

    --accent: 265 50% 18%;
    --accent-foreground: 265 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 265 10% 98%;

    --ring: 265 100% 60%;

    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;

    --plyr-color-main: hsl(var(--primary));
    /* --plyr-video-control-color: hsl(270, 3%, 87%); */
    --plyr-video-control-color: hsl(var(--card-foreground));
    --plyr-menu-background: hsl(var(--card));
    --plyr-menu-back-border-shadow-color: hsl(var(--border));
    --plyr-menu-color: hsl(var(--muted-foreground));
    --plyr-menu-back-border-color: hsl(var(--card));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .zoom-image [data-rmiz-modal-overlay="visible"] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-2xl;
  }
}

.container {
  @apply mx-auto px-4 md:px-8 lg:px-16 xl:px-24 2xl:px-32;
}

.radial-gradient {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
}

.animate-opacity {
  animation: opacityCycle 1s infinite alternate;
}

@keyframes opacityCycle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.ql-editor {
  @apply text-sm dark:text-white;
}

.ql-picker-label {
  @apply dark:text-white;
}

.ql-stroke,
.ql-fill {
  @apply dark:!stroke-card-foreground;
}

.ql-container {
  @apply rounded-b-lg border border-border dark:bg-card;
}

.ql-editor.ql-blank::before {
  @apply text-sm dark:text-zinc-400;
  font-style: normal !important;
}

.ql-tooltip {
  @apply rounded-md border-border !shadow;
}

.ql-bold {
  @apply dark:!stroke-muted-foreground dark:!text-muted-foreground;
}

.ql-container.ql-snow {
  @apply dark:!text-muted-foreground;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  @apply !border-border dark:!border-border;
}

.ql-snow .ql-picker-options {
  @apply mt-3 rounded-md !border-muted-foreground dark:!border-border dark:!bg-muted dark:!text-muted-foreground;
}

.ql-toolbar button:hover,
.ql-toolbar button:focus,
.ql-active,
.ql-picker-label:hover,
.ql-picker-item:hover,
.ql-selected {
  @apply dark:!text-muted-foreground;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  @apply !border-none;
}
